@{
    ViewBag.Title = "DoctorBar";
}

<head>
    <script src="~/Scripts/Chart.bundle.min.js"></script>
    <script src="~/Scripts/utils.js"></script>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <style>
       canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
    </style>
</head>

<body>
    <div style="width: 100%">
        <input id="keyValue"/>
        <input type="button" id="serach" value="搜索">
    </div>
    <div style="width:100%;">
        <canvas id="canvas" height="550"></canvas>
    </div>
    <script>

        //window.onload = function() {
        //    $.ajax({
        //        url: "Doctor/GetDoctorBar",
        //        type: 'POST',
        //        success: function (data) {
        //            if (data != null) {
        //                window.myBar = createData(data.Labels, data.datas);
        //                window.myBar.update();
        //            }
        //        }
        //    });

        //};

        $("#serach").click(function () {
            $.ajax({
                url: "Doctor/sayHello",
                type: 'POST',
                data: { keyValue: $("#keyValue").val(), },
                success: function (data) {
                    if (data != null) {
                         createData(data.Labels, data.datas);
                    }
                }
            });
        });

        function createData(labels,datas) {
            var chart = {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: getdata(datas)
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: '医生开药信息柱状图'
                    },
                    tooltips: {
                        mode: 'index',
                    },
                    hover: {
                        mode: 'index'
                    }
                }
            };

            var ctx = document.getElementById('canvas').getContext('2d');
            window.myBar = new Chart(ctx, chart);
            $("#canvas").update();

        }

        function getdata(datas) {
            var data = [];
            for (var i = 0; i < datas.length; i++) {
                var site2 = {
                    "label":   datas[i].Label,
                    "borderColor": bg1(),
                    "backgroundColor": bg1(),
                    "fill": false,
                    "data": datas[i].Values};
                data[i] = site2;
            }

            return data;
        }

        var getRandomColor = function () {
            return (function (m, s, c) {
                return (c ? arguments.callee(m, s, c - 1) : '#') +
                    s[m.floor(m.random() * 16)]
            })(Math, '0123456789abcdef', 5)
        }

        function bg1() {
            var r = Math.floor(Math.random() * 256);
            var g = Math.floor(Math.random() * 256);
            var b = Math.floor(Math.random() * 256);
            return "rgb(" + r + ',' + g + ',' + b + ")";
        }


    </script>
</body>

