@{
    ViewBag.Title = "DoctorLine";
}

<h2>DoctorLine</h2>
<head>
    <script src="~/Scripts/Chart.bundle.min.js"></script>
    <script src="~/Scripts/utils.js"></script>
    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
</head>

<body>
    <div style="width:100%;">
        <canvas id="canvas"></canvas>
    </div>
    <script>
        var config = {
            type: 'line',
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'Aguest', 'September'],
                datasets: [{
                    label: 'My First dataset',
                    borderColor: window.chartColors.red,
                    fill: false,
                    // Skip a point in the middle
                    data: [
						10,
						12,
						9,
						6,
						13,
						5,
						10
                    ],

                }, {
                    label: 'My Second dataset',
                    borderColor: window.chartColors.blue,
                    fill: false,
                    // Skip first and last points
                    data: [
						7,
						8,
						9,
						11,
						10,
						12,
						13
                    ],
                }]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Chart.js Line Chart - Skip Points'
                },
                tooltips: {
                    mode: 'index',
                },
                hover: {
                    mode: 'index'
                },
                scales: {
                    //xAxes: [{
                    //    display: true,
                    //    scaleLabel: {
                    //        display: true,
                    //        labelString: 'Month'
                    //    }
                    //}],
                    //yAxes: [{
                    //    display: true,
                    //    scaleLabel: {
                    //        display: true,
                    //        labelString: 'Value'
                    //    },
                    //}]
                }
            }
        };

        window.onload = function () {
            var ctx = document.getElementById('canvas').getContext('2d');
            window.myLine = new Chart(ctx, config);
        };
    </script>
</body>

